
<link rel="stylesheet" href="/css/header.css">

<div id="whole-header">        
    <div><img src="https://www.creativefreedom.co.uk/wp-content/uploads/2019/01/music-app-icon_02.png" id="logo" alt="app-logo"></div>
    <div id="header-content">

        <% if(locals.user) { %>
            <div><a class="headings profile_ele" href="/user/profile"><%=user.name%></a></div>
            <div><a class="headings" href="/user/signout">Sign-out</a></div>
           
            
        <% } else { %>
            <div><a class="headings" href="/user/signin">Sign-in</a></div>
            <div><a class="headings" href="/user/signup">Sign-up</a></div>
        <% } %>
        <div>
            <!-- <img src="https://www.creativefreedom.co.uk/wp-content/uploads/2019/01/music-app-icon_02.png" id="profile" alt="profile-photo"> -->
            <!-- <div id="contents">
                <div>Favourites</div>
                <div>Playlist</div>
                <div>profile</div>
                <div>Log-out</div>
            </div> -->
        </div>
    </div>
    
</div>

<script src="/js/profile.js"></script>
<script>
    $(' .profile_ele').each(function(){
        let self = this;
        let profile = new Profile(self);
    });
</script>