<link rel="stylesheet" href="/css/profile.css">

<div>

    <div class="title"><%= title%></div>

    <div id="whole-profile">
        <div id="info">
            <h3>User Name: <%= user_name%> </h3>
            <h3>User Email: <%= user_email%> </h3>
            <a href="/user/add-song-details"><button>Add Song</button></a>
        </div>
        
        <div id="user-controls">
        <div><a href="/user/favourite/songs" class="each-ele headings" id="fav-songs">Songs</a></div>
        <div><a href="/user/favourite/albums" class="each-ele headings" id="fav-albums">Albums</a></div>
        <div><a href="/user/favourite/artists" class="each-ele headings" id="fav-artists">Artists</a></div>
        <div><a href="/user/favourite/recently-played" class="each_ele headings" id="recently-played">Recently Played</a></div>
        </div>
    
    </div>
</div>
