<link rel="stylesheet" href="/css/form.css">

<div class="title"><%= title%></div>

<div class="signin-signup">
    <div class="form"> 
        <form action="/user/create-session" method="POST">
            <div id="form-contents">
                <div>
                    <span class="form-input-head">Email</span>
                    <input class="form-input-val" name = "email" type="email" required>
                </div>
                <div>
                    <span class="form-input-head">Password</span>
                    <input class="form-input-val" name="password" type="password" required>
                </div>
                
            </div>
    
            <div id="form-submit">
                <button class="submit-btn">Submit</button>
            </div>
            
        </form>
    </div>
</div>

<script src="/js/favourite.js"></script>
<script src="/js/play.js"></script>

<script>
    $(' .add-fav').each(function(){
        let self = this;
        let tooglefav = new ToogleFav(self);
    });
    $(' .play-btn').each(function(){
        let self = this;
        let play = new Play(self);
    })
</script>