<html>
    <head></head>
    <body>
        <strong>Hi <%=user_name%></strong>
        <p>This is user email verification link. Please click on this link to verify your email</p>
        <a href="http://localhost:8000/user/verify-account/?user_id=<%=user_id%>">http://localhost:800/user/verify_account/<%=user_id%></a>
    </body>
</html>