<html>
    <head></head>
    <body>
        <strong>Hi <%=user.name%></strong>
        <p>This is user reset password link. Please click on this link to reset your password</p>
        <a href="http://localhost:8000/user/reset-password/?accessToken_id=<%=userAccessToken._id%>">http://localhost:8000/user/resetPassword/<%=userAccessToken._id%></a>
    </body>
</html>