
.google-sign{
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
    
}

.google-sign a{

    color: white;
    text-decoration: none;
    font-size: 20px;
    font-family: sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.google-sign a img{
    width: 50px;
    height: 50px;
    border-radius: 1.5rem;
    margin-right: 20px;
}

.forget-password{
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    
    
}

.forget-password a {
    color: skyblue;
    text-decoration: none;
    font-size: 20px;
    font-family: sans-serif;
}



.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 2px solid black; */
   
}

.form #form-contents{
   
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}

.form #form-contents div{
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.form #form-submit{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.submit-btn{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100px;
    background-color: lightblue;
   border: none;
   height: 30px;
   font-size: 20px;
   padding: 5px;
}

.submit-btn:hover{
    box-shadow: 0px 0px 2px 2px wheat;
}

.form-input-head{
    font-size: 20px;
    font-family: sans-serif;
    margin-right: 10px;
    color: gray;
    
}

.form-input-val{
    font-size: 15px;
    width: 250px;
    font-family: serif;
}

.form-input-val:hover{
    border: none;
    box-shadow: 0px 0px 2px 2px lightblue;
}