#whole-profile{
    display: flex;
    flex-direction: row;
    min-height: 100%;
    background-color: black;
}

#info{

    display: flex;
    flex-direction: column;
    width: 70%;
    height: 100%;
    border-right: 2px solid white;
}

h3{
    color: white;
}

#user-controls{
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    
    /* border: 2px solid black; */
}

#user-controls div{
    margin-bottom: 20px;
}