#whole-profile{
    display: flex;
    flex-direction: row;
    min-height: 100%;
    max-height: auto;
    background-color: black;
}

#info{

    display: flex;
    flex-direction: column;
    width: 65%;
}

h3{
    color: white;
}

#user-controls{
   
    display: flex;
    flex-direction: column;
    height: 100%;
    border-left: 2px solid white;
}
    
#user-controls div{
    margin-bottom: 20px;
    margin-left: 20px;
    
}